<% Object.keys(messages).forEach(function (type) { %>
    <% if  (type == 'error') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% } else { %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
    <% } %> 
            <% messages[type].forEach(function (message) { %>
                <%= message %>
            <% }) %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
<% }) %>