<div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>Categories</h3>
      <div class="list-group">
        <a href="/products" class="list-group-item list-group-item-action" aria-current="true">
          All products
        </a>
        <% categories.forEach((category) => { %>
          <a href="/products/<%= category.slug %>" class="list-group-item list-group-item-action" aria-current="true">
            <%= category.title %>              
          </a>
        <% }) %> 
      </div>
    </div>
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-8">