body {
  font-family: "Quicksand", sans-serif;
}

.img-product {
  width: 150px;
  height: 150px;
}

.gallery-container {
  display: inline-block;
  /* align-items: center; */
}

ul.gallery {
  padding: 0;
}

ul.gallery li {
  display: inline-block;
}

.product-card {
  max-height: 200px;
}
