.img-product {
  width: 150px;
  height: 150px;
}

.gallery-container {
  display: inline-block;
  /* align-items: center; */
}

ul.gallery {
  padding: 0;
}

ul.gallery li {
  display: inline-block;
}
